- title "Product Sizes"

%table
  %tr
    %th Product
    %th Size
    %th Price
  - for product_size in @product_sizes
    %tr
      %td= product_size.product_id
      %td= product_size.size
      %td= product_size.price
      %td= link_to 'Show', product_size
      %td= link_to 'Edit', edit_product_size_path(product_size)
      %td= link_to 'Destroy', product_size, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Product Size", new_product_size_path
