- title "Product Size"

%p
  %strong Product:
  = @product_size.product_id
%p
  %strong Size:
  = @product_size.size
%p
  %strong Price:
  = @product_size.price

%p
  = link_to "Edit", edit_product_size_path(@product_size)
  |
  = link_to "Destroy", @product_size, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", product_sizes_path
