- title "User"

%p
  %strong Name:
  = @user.name
%p
  %strong Email:
  = @user.email
  
%p
  =link_to "New Product", new_product_path
  |
  =link_to "New Herb", new_herb_path
%p
  = link_to "Edit", edit_user_path(@user)
  |
  = link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", users_path
