= form_for @link do |f|
  = f.error_messages
  %p
    = f.label :address
    <br />
    = f.text_field :address
  %p
    = f.label :category
    <br />
    = f.text_field :category
  %p
    = f.label :name
    <br />
    = f.text_field :name
  %p= f.submit
