<% title "Links" %>

<table>
  <tr>
    <th>Address</th>
    <th>Category</th>
    <th>Name</th>
  </tr>
  <% for link in @links %>
    <tr>
      <td><%= link.address %></td>
      <td><%= link.category %></td>
      <td><%= link.name %></td>
      <td><%= link_to "Show", link %></td>
      <td><%= link_to "Edit", edit_link_path(link) %></td>
      <td><%= link_to "Destroy", link, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Link", new_link_path %></p>
