#top_menu
  %table
    %tr
      %td= link_to "Home", root_path
      %td= link_to "Blog", blogs_path
      %td= link_to "Links", links_path
      %td= link_to "Shop", shop_path
      %td= link_to "Contact", contact_path
